*{
	box-sizing: border-box;
}

html,body{
  overflow-x:hidden;
  margin:0px;
  padding:0px; 
  width:100%;
  height:100%; 
}

.navbar-header {
	padding-left:15px;
}

nav.navbar.navbar-toggleable-xs.navbar-transparent{
	margin-bottom:0px;
}

.logo{
	width:60px;
	height:60px;
}

.nav > li > a:focus, .nav > li > a:hover{
	background-color:transparent !important;
	color:rgb(240,111,112);
}


span.icon-bar{
	background-color:rgb(242,242,242);
}

#hero-image{
	background:url('images/hero-image.jpg') no-repeat center center;
	background-size:cover;
	height:750px;
	margin-top:-180px;

}

.navbar ul li a {
	font-family:'Open Sans Condensed', sans-serif; 
	color: rgb(242,242,242);
	font-size:20px;
}

.icon-bar{
	color:white;
}

#name{
	font-family:'Playfair Display', serif;
	font-weight:700;
	font-size:86px;
	text-align:center;
	color: rgb(242,242,242);
	margin-top:-450px;
}

#title{
	font-family:'Open Sans Condensed', sans-serif;
	font-weight:300;
	font-size:39px;
	text-align:center;
	color: rgb(242,242,242);
}

a{
	color:rgb(242,242,242) !important;
}

#talk{
	font-family:'Open Sans Condensed', sans-serif;
	font-weight:700;
	font-size:20px;
	color: rgb(242,242,242);
	background-color: rgb(240,111,112);
	border:none;
	width:150px;
	height:50px;
	margin:auto;
	display:block;
	margin-top:60px;
}


#work{
	position:relative;
	padding-top:180px;
	text-align:center; 
	font-family:'Open Sans Condensed', sans-serif; 
	font-weight:300; 
	font-size:4em;
	text-decoration: underline;
	color: rgb(87,100,113);

}
#rand-quote,#paypal,#cafe,#portfolio,#band,#penguin{
	width:583px;
	height:371px;
	padding-top:30px;
}

.content{
	margin-right:30px;
	padding-top:60px;
	color: rgb(87,100,113);

}

span#project{
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size:24px; 
}

p#description{
	padding-top:50px;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size:24px;
}

#live{
	font-family:'Open Sans Condensed', sans-serif;
	font-weight:700;
	font-size:20px;
	color: rgb(242,242,242);
	background-color: rgb(240,111,112);
	border:none;
	width:140px;
	height:50px;
	margin:20px 0px 80px 0px;
}

.contact-wrapper{
	background-image:url("images/contact-image.jpg"); 
	background-size:cover;
	width:100%;
	height:70%;
}


#contact{
	position:relative;
	padding-top:10px;
	text-align:center; 
	font-family:'Open Sans Condensed', sans-serif; 
	font-weight:300; 
	font-size:4em;
	text-decoration: underline;
	color: rgb(242,242,242);
}


.profile-photo{
	height:250px;
	width:250px;
	margin:5% 0px 0px 30%;
	
}

p#about-me{
	margin:10% 30% 0px 0px;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size:24px;
	color: rgb(242,242,242);
}

i.fa.fa-github-alt, i.fa.fa-twitter, i.fa.fa-codepen, i.fa.fa-linkedin{
	color:rgb(242,242,242);
	font-size:30px;
	margin:20px 25px 0px 0px;
}

div#icons{
   padding-right:25%;
}

.footer{
	display:block;
	background-color: rgb(87,100,113); 
	left:0px;
	bottom:0px;
	height:60px;
	width:100%;
}

.copyright{
	position:relative;
	text-align:center;
	color:rgb(242,242,242);
	padding-top:20px;
}



@media(min-width: 992px) and (max-width: 1116px){
	span#project{
	font-size:22px; 
}

p#description{
	font-size:22px;
}

#rand-quote,#paypal,#portfolio,#band,#penguin{
	width:484px;
	height:318px;
	padding-top:30px;
}

span#project{
	font-size:22px; 
}

#live{
	font-size:18px;
	width:110px;
	height:40px;
}

}

@media (min-width:768px) and (max-width:924px){
.profile-photo{
	height:200px;
	width:200px;	
}

p#about-me{
	font-size:22px;
}

i.fa.fa-github-alt, i.fa.fa-twitter, i.fa.fa-codepen, i.fa.fa-linkedin{
	font-size:22px;
}
}

@media (min-width:375px) and (max-width:767px){
.profile-photo{
	height:170px;
	width:170px;	
}

p#about-me{
	font-size:18px;
}

i.fa.fa-github-alt, i.fa.fa-twitter, i.fa.fa-codepen, i.fa.fa-linkedin{
	font-size:18px;
}

div#icons{
   padding-right:20%;
   }

}